<h2>อนุมัติพนักงาน</h2>

<table class="table">
    <tr>
        <th>ชื่อ</th>
        <th>role</th>
        <th>อนุมัติ</th>
    </tr>

    <% users.forEach(u => { %>
    <tr>
        <td><%= u.name %></td>
        <td><%= u.role %></td>
        <td>
            <a href="/approve/<%= u._id %>" class="btn btn-success">
                อนุมัติ
            </a>
        </td>
    </tr>
    <% }) %>
</table>